<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'styles/base.css' %}" rel="stylesheet">
    {% block style %}<!-- CUSTOM STYLES GOES HERE -->{% endblock style %}
</head>

<body>
    <div class="container">
        {% block content %}<!-- CONTENT GOES HERE -->{% endblock content %}
        {% block script %}<!-- CUSTOM SCRIPTS GOES HERE -->{% endblock script %}
    </div>
</body>

</html>
